/* Poppins Regular */
@font-face {
  font-family: 'PoppinsRegular';
  src: url('/fonts/poppins-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Poppins Bold */
@font-face {
  font-family: 'PoppinsBold';
  src: url('/fonts/poppins-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Open Sans */
@font-face {
  font-family: 'OpenSansRegular';
  src: url('/fonts/open-sans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Playfair Display */
@font-face {
  font-family: 'PlayfairDisplayBold';
  src: url('/fonts/playfair-display-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'moondance';
  src: url('/fonts/moon-dance.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
